@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

 <main>

        <section class="banner">

            <div class="banner-content">

                <h1>Liga Gamers</h1>

                <a href="">Sobre</a>

            </div>

        </section>

        <section class="most-popular container-grid container-grid-d">

            <article class="most-popular-box">
                <img src="~/images/fifa-image-desktop.png" alt="">

                <div class="box-vidro">
                    <div class="yellow-box">
                        <h2>Mais populares</h2>
                    </div>
                </div>

            </article>

            <article class="most-popular-box">

                <img src="~/images/cs-image-desktop.png" alt="">

                <div class="box-vidro">
                    <div class="yellow-box">
                        <h2>Último jogo</h2>
                    </div>
                </div>

            </article>

        </section>

        <section class="programer-team">

            <h2>Entre para o time programer</h2>
            <hr>

            <div class="container-grid info-flex container-grid-d">

                <article class="info-article info-1">

                    <img class = "perso1-desktop" src="~/images/img-killjoy-desktop.png" alt="">
                    
                    <img class= "perso1-mobile" src="~/images/img-killjoy-desktop.png" alt="">
                   

                    <div class="border-gradient">

                        <div class="info-box info-box1">

                            <img  class="icon1" src="~/assets/icons/icon-control.svg" alt="">

                            <h3>20 jogos diferentes</h3>

                            <p>São mais de 20 jogos em 2 plataformas disponíveis para que você possa aprender melhores
                                técnicas.</p>
                        </div>

                    </div>

                </article>

                <article class="info-article info-2">

                    <img class = "perso2-mobile" src="~/images/img-jinx.png" alt="">

                    <img class = "perso2-desktop" src="~/images/img-jinx-desktop.png" alt="">

                    <div class="border-gradient2">

                        <div class="info-box info-box2">


                            <img class="icon2" src="~/assets/icons/icon-gamer.svg" alt="">

                            <h3>53 professores</h3>

                            <p id="prof">Temos 53 Proplayers no nosso time para ensinar todas as es- tratégias, você vai
                                aprender do básico ao avançado.
                                Tempo de treinamento, descanso, equipamentos. </p>
                        </div>

                    </div>

                </article>

            </div>

        </section>


        <section class="news">

            
            <h2>Notícias</h2>
            <hr>

            
            <div class="container-grid news-flex container-grid-d">

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news1.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news2.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news3.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news1.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news2.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news3.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news1.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>

                <article class="news-card">


                    <div class="text-box-news">
                        <img src="~/images/img-news2.png" alt="">

                        <h4>Título da notícia</h4>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since.</p>

                    </div>

                </article>


                </article>

            </div>

        </section>

    </main>