@* @model Jogador *@

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">

</head>

<body>

    <main>

        <section class="banner">

            <article class="container-grid login-flex container-grid-d">

                <div class="border-gradient">

                    <div class="box-login">
                        <h1>Login</h1>
                        <hr>

                        <div class="input-gradient-login">

                            <div class="icon-input">
                                <img src="assets/icons/icon-user-white.svg" alt="">
                                <input type="email" placeholder="Digite seu email...">
                            </div>

                        </div>

                        <div class="input-gradient-login">

                            <div class="icon-input">
                                <img src="assets/icons/icon-key.svg" alt="">
                                <input type="password" placeholder="Digite sua senha...">
                            </div>

                        </div>

                        <button>Logar</button>

                    </div>
                </div>
            </article>

        </section>

    </main>


</body>

</html>