@* @model Jogador *@

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">

</head>

<body>

    <main>

        <section class="banner">

            <article class="container-grid login-flex container-grid-d">

                <div class="border-gradient-login">

                    <div class="box-login">
                        <h1>Login</h1>
                        <hr>

                        <form method="post" action='@Url.Action("Logar")'> @*action é um método dentro do controller *@

                            <div class="input-gradient-login">

                                <div class="icon-input">
                                    <img src="~/assets/icons/icon-user-white.svg" alt="">
                                    <input type="email" placeholder="Digite seu email..." required>
                                </div>

                            </div>

                            <div class="input-gradient-login">

                                <div class="icon-input">
                                    <img src="~/assets/icons/icon-key.svg" alt="">
                                    <input type="password" placeholder="Digite sua senha..." required>
                                </div>

                            </div>

                            <h2>@TempData.Peek("message")</h2>

                            <button type="submit">Logar</button>

                        </form>

                    </div>

                </div>

            </article>

        </section>

    </main>


</body>

</html>